
#taartDiv{
    width: 25%; 
    text-align: center;  
    line-height: 0%;
    left: 50%;
}
.hidden {
position: absolute;
visibility: hidden;

}

.totheback {

z-index: -10;
}
.elementsLaag {
    border-radius: 10px;
    background-color: #ad0b5d;
    height: 80px;
    border:  1px solid black;
    margin-left: auto;
    margin-right: auto;
    height: 105px;  
}


div.taartbox {

    position: absolute;
    left: 60%;
    height: 500px;
    width: 700px;
    padding-top: 100px;

}

p {
font-size: 15px;
line-height: 0px;
}
p.bigger {
font-size: 23px;
line-height: normal;
}
/* Button Button Button */
#addButton {
	-moz-box-shadow:inset 0px 1px 0px 0px #97c4fe;
	-webkit-box-shadow:inset 0px 1px 0px 0px #97c4fe;
	box-shadow:inset 0px 1px 0px 0px #97c4fe;
	background-color:#3d94f6;
	-webkit-border-top-left-radius:14px;
	-moz-border-radius-topleft:14px;
	border-top-left-radius:14px;
	-webkit-border-top-right-radius:14px;
	-moz-border-radius-topright:14px;
	border-top-right-radius:14px;
	-webkit-border-bottom-right-radius:14px;
	-moz-border-radius-bottomright:14px;
	border-bottom-right-radius:14px;
	-webkit-border-bottom-left-radius:14px;
	-moz-border-radius-bottomleft:14px;
	border-bottom-left-radius:14px;
	text-indent:-1.0320000000000003px;
	border:1px solid #337fed;
	display:inline-block;
	color:#ffffff;
	font-family:Arial;
	font-size:23px;
	font-weight:bold;
	font-style:normal;
	height:33px;
	line-height:30px;
	width:34px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #1570cd;
}
#addButton:hover {
	background-color:#1e62d0;
}
#addButton:active {
	position:relative;
	top:1px;
}
#removeButton {
	-moz-box-shadow:inset 0px 1px 0px 0px #97c4fe;
	-webkit-box-shadow:inset 0px 1px 0px 0px #97c4fe;
	box-shadow:inset 0px 1px 0px 0px #97c4fe;
	background-color:#3d94f6;
	-webkit-border-top-left-radius:14px;
	-moz-border-radius-topleft:14px;
	border-top-left-radius:14px;
	-webkit-border-top-right-radius:14px;
	-moz-border-radius-topright:14px;
	border-top-right-radius:14px;
	-webkit-border-bottom-right-radius:14px;
	-moz-border-radius-bottomright:14px;
	border-bottom-right-radius:14px;
	-webkit-border-bottom-left-radius:14px;
	-moz-border-radius-bottomleft:14px;
	border-bottom-left-radius:14px;
	text-indent:-1.0320000000000003px;
	border:1px solid #337fed;
	display:inline-block;
	color:#ffffff;
	font-family:Arial;
	font-size:23px;
	font-weight:bold;
	font-style:normal;
	height:33px;
	line-height:30px;
	width:34px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #1570cd;
}
#removeButton:hover {
	background-color:#1e62d0;
}
#removeButton:active {
    position: relative;
    top: 1px;
}