@{
    
}

<!DOCTYPE html>
<html>
  <head>
    <title>Fondanti</title>
    <link href="~/FondantiStyle.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <div id="container">
        <div id="header">
        </div>
        <div id="main">
          @RenderBody()
        </div>
        <div id="footer">
        </div>
    </div>
  </body>
</html>